.loginRegister {
    min-height: 330px;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.heading {
    margin: 20px 0 4px;
    color: #555;
    font-size: 20px;
    text-align: center;
}

.description {
    margin: 0 0 6px;
    color: #999;
    font-size: 13px;
    text-align: center;
}

.title {
    font-size: 14px;
    font-weight: normal;
    line-height: 27px;
    margin-top: 14px;
    color: #666;
}

.input {
    height: 40px;
    & > input {
        line-height: 40px;
    }
}

.button {
    background-color: var(--primary-color-10);
    color: var(--primary-text-color-10);
    height: 40px;
    border: none;
    margin-top: 30px;
    transition: background-color 0.2s;
    border-radius: 6px;

    &:hover {
        background-color: var(--primary-color-9);
    }
}
