.git
.github
.vscode
**/node_modules
**/dist
**/.linaria-cache
**/coverage
**/test
**/.env
**/.env.*
**/*.log
uploads
backups
music
r2.env
deploy/netease.env
packages/app
packages/server/public/Avatar
packages/server/public/BackgroundImage
packages/server/public/FileMessage
packages/server/public/GroupAvatar
packages/server/public/ImageMessage
packages/server/public/QQExpression
